$primary-color-1: #a17f3c;
$primary-color-2: #ecbc62;
$secondary-color-1: #b7cedd;
$secondary-color-2: #a5b9c6;
$primary-g: linear-gradient(#ffe98d, #e19f27);
$secondary-g: linear-gradient(#ebf7ff, #c8e9ff);
$primary-bg-1: #10233F;
$primary-bg-2: #1b304f;
$shadow-bg: 0 4px 30px rgba(0, 0, 0, 0.5), inset 0 0 0 2px #4e5765;